<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


  </head>
  <body>
    <br>
    <a href="/" class='btn btn-primary'>go to index page</a>
    <div class='container' align='center'>
      <h1>Add Movie Information</h1>
      <form  action='addmovies' method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type='submit' value='add' class='btn btn-primary'>&nbsp&nbsp
        <a href="listmovies" class='btn btn-primary'>list of movies</a>


      </form>
    </div>

  </body>
</html>
